extends ../layout

block content 
    // load css required for this page alone
    link(rel='stylesheet', href='/stylesheets/edit.css')
    
    h2 #{title}
    div ---- Website under development ----
    br
    
    // Notes about development
    p 
        b Developer Notes:
        br
        br
        mark This web application is built with
            br
            * NodeJS/ExpressJS
            br
            * MongoDB
            br
            * Jade
            br
            * Bootstrap and CSS
            br
            * jQuery
            br
            * MVC pattern - (Jade - NodeJS - MongoDB => End to end Javascript application)
            br
            * Responsive design
            br
            * Compatible in all browsers. i.e., Firefox, Chrome, IE, Safari and so on..
            br
            * FullStack Javascript application
            br
            * No images used
            