link(rel='stylesheet', href='/stylesheets/footer.css')

footer
    div.foot 
        mark 
            a(href='/aboutUs') Developer notes
        span  || Terms and conditions || Copyright gokulnathpalanivel@gmail.com
        