link(rel='stylesheet', href='/stylesheets/header.css')

header
    div.hd
        div.fl
            span.ttl ABC dot COM
            span.dvd |
            h1 Manage Seller Store
        div.fr.nav
            a(href='/home') Home
            span.dvd |
            a(href='/aboutUs') About Us
        div.clb
            